#!/usr/bin/env python

# by Tom Gidden <gid@starberry.tv>

import sys
import urllib, urllib2
import socket
import json
import re

if __name__ == '__main__':
        type=sys.argv[1] # "GROUP" or "INSTANCE"
        name=sys.argv[2] # name of group or instance
        state=sys.argv[3] # target state of transition ("MASTER", "BACKUP", "FAULT")

        hostname = socket.gethostname()
        shortname = re.sub(r'\..*$', '', hostname)

        text = "Node *"+shortname+"* status changed to *"+state+"*"

        q = {}
        q['username'] = "Keepalived"

        colors = {
                'BACKUP' : 'warning',
                'MASTER' : 'good',
                'FAULT' : 'danger'
        }

        a = {}
        a["fallback"] = "Cluster change notification: "+text
        a["text"] = text
        a["mrkdwn_in"] = ["text", "fallback"]

        if state in colors:
                a['color'] = colors[state]
        else:
                a['color'] = 'danger'

        q['attachments'] = [ a ]
        enc = "payload="+json.dumps(q)

        urllib2.urlopen("<%= @webhook_url %>", enc)
