---
apiVersion: kubeadm.k8s.io/v1beta<%= @kubeadm_version < '1.15' ? '1' : '2' %>
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: <%= @node_ip_address %>
  bindPort: <%= @master_local_port %>
<% if @kubeadm_version >= '1.15' %>
certificateKey: <%= @certificate_key %>
<% end %>
---
apiVersion: kubeadm.k8s.io/v1beta<%= @kubeadm_version < '1.15' ? '1' : '2' %>
kind: ClusterConfiguration
kubernetesVersion: <%= @kubeadm_version %>
<% case node['kubeadm']['multi_master'] %>
<% when 'off' %>
controlPlaneEndpoint: "<%= @node_ip_address %>:<%= @master_local_port %>"
<% when 'centralized' %>
controlPlaneEndpoint: "<%= @master_ip_address %>:<%= @master_port %>"
<% when 'decentralized' %>
controlPlaneEndpoint: "<%= @node_ip_address %>:<%= @master_local_port %>"
<% when 'balanced' %>
controlPlaneEndpoint: "<%= node['kubeadm']['external_lb_address'] %>:<%= node['kubeadm']['external_lb_port'] || 6443 %>"
<% end %>
clusterName: <%= @cluster_name %>
apiServer:
  certSANs:
  <% if node['kubeadm']['multi_master'] == 'decentralized' %>
  - 127.0.0.1
  <% end %>
  - <%= @node_ip_address %>
  - <%= @hostname %>
  - <%= @fqdn %>
  <% Array(@extra_cert_sans).each do |san| %>
  - <%= san %>
  <% end %>
  extraArgs:
    <% if %w[balanced decentralized].include?(node['kubeadm']['multi_master']) %>
    advertise-address: <%= @node_ip_address %>
    <% else %>
    advertise-address: <%= @master_ip_address %>
    <% end %>
networking:
  dnsDomain: <%= @service_dns_domain %>
  <% if @pod_cidr %>
  podSubnet: <%= @pod_cidr %>
  <% end %>
  <% if @service_cidr %>
  serviceSubnet: <%= @service_cidr %>
  <% end %>
